body {
  max-width: 800px;
  margin: 0 auto;
}
@media(max-width: 600px){
  body{
    margin-top:       5%;
    margin-bottom:    5%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px 10px 10px 10px;
 }
}
.sender-column {
  text-align: right;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

p,ul,ol,dl,address {
  font-size: 1.1em;
}

p, li, dd, dt, address {
  line-height: 1.5;
}